.login-container {
  width: 750px;
  height: 500px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: x-large;
}
