.signup-container {
  width: 65vw;
  height: fit-content;
  margin: 100px auto;
  padding: 30px;
  border-radius: 12px;
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: x-large;
}

.cont-with {
  width: 40%;
  height: 7%;
  text-align: center;
  margin: -7px;
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
}

.cont-with-img {
  width: 25px;
  height: 25px;
  margin-right: 40px;
}

.input-group {
  padding: 10px;
  margin: 5px;
  width: 40%;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
}

.cont-with:hover {
  background-color: rgb(206, 206, 203);
}

.login-btn {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.45rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--logIn-bg);
  color: white;
}